{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h1 class="post-box__title" style="text-align: center;">Как оформить страницу &laquo;Контакты&raquo; на сайте</h1>
<p style="text-align: center;"><img class="rounded img-fluid" src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/7644.png" data-toggle="modal" data-target="#cropModal" /></p>
<div class="post-box__announce" style="text-align: center;">Оформление страницы с контактами на сайте с примерами и влияние возможностей для обратной связи на SEO.</div>
<div id="articleContainer" class="post-box__text">
<div class="st-nav" style="text-align: justify;">
<p><strong>В статье:</strong></p>
<ol>
<li>
<p><a href="https://pr-cy.ru/news/p/7644-kak-oformit-stranitsu-kontakty-na-sayte#elements" data-tip="">Какие элементы должны быть на странице с контактами</a></p>
</li>
<li>
<p><a href="https://pr-cy.ru/news/p/7644-kak-oformit-stranitsu-kontakty-na-sayte#location" data-tip="">Где разместить страницу &laquo;Контакты&raquo; на сайте</a></p>
</li>
</ol>
</div>
<p style="text-align: justify;">Каждая страница на сайте должна быть полезной. В блоге PR-CY уже есть статья о том,&nbsp;<a href="https://pr-cy.ru/news/p/7582-kak-sdelat-razdel-o-nas-na-sayte-issledovanie" data-tip="">как правильно сделать страницу &laquo;О нас&raquo;</a>&nbsp;и на что может влиять информация о компании. В основу статьи вошло исследование, которое провела компания &laquo;Nielsen Norman Group&raquo;.</p>
<p style="text-align: justify;">В рамках этой же работы они изучили взаимодействие пользователей со страницами контактов: как люди находят эти страницы, как с ними взаимодействуют и какую информацию ожидают увидеть.</p>
<p style="text-align: justify;">Разберем, как оформить страницу &laquo;Контакты&raquo;, и какие элементы ожидают увидеть пользователи на этой странице.</p>
<h2 id="elements" style="text-align: justify;">Какие элементы должны быть на странице с контактами</h2>
<p style="text-align: justify;">Рекомендации на основе опроса участников исследования &laquo;Nielsen Norman Group&raquo;, которые выполняли задания на сайтах разных компаний.</p>
<h3 style="text-align: justify;">Все способы связи с компанией</h3>
<p style="text-align: justify;">Ссылка &laquo;Контакты&raquo; или &laquo;Связаться с нами&raquo; должна вести на страницу с перечнем всех доступных способов связи и ссылок на социальные сети. Даже если на сайте есть чат или контактная форма для заказа обратного звонка, все равно лучше собрать все контакты на отдельной странице.</p>
<p style="text-align: justify;">Чем больше указано контактов, тем проще пользователю выбрать удобный способ связаться &mdash; позвонить, написать на почту или отправить тикет саппорту прямо с сайта. Но не стоит указывать контакты, которые вы не сможете обслуживать &mdash; лучше отсутствие телефона, чем номер, где не берут трубку.</p>
<h3 style="text-align: justify;">Контакты разных отделов компании</h3>
<p style="text-align: justify;">Если в компании есть несколько отделов для связи по разным вопросам, сразу укажите их телефоны и адреса электронной почты с указаниями, по каким вопросам куда лучше обращаться.</p>
<p style="text-align: justify;">Это может быть номер службы поддержки пользователей, PR-отдела для прессы, отдела для связи с инвесторами и другие.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/ba720abd12665bc72bf8cf69e2eda8ef.jpg" alt="как оформить контакты на сайте" data-image="s5g7l057s0mq" data-toggle="modal" data-target="#cropModal" />
<figcaption>Список контактов на сайте oxford-russia.ru</figcaption>
</figure>
<p style="text-align: justify;">Если отделов с контактами много, объедините их в группы, чтобы пользователям было легче ориентироваться в списке. Группы лучше составлять по задачам пользователей, а не по внутренней иерархии компании, в которой часто сложно разобраться постороннему человеку. К примеру, разделить контакты по целевым аудиториям: для пользователей, соискателей, прессы, инвесторов и так далее.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/b5ca7cef4251ad7533c10072cbc5661c.jpg" alt="оформление контактов компании" width="589.566371681416" height="419" data-image="k4c1i46xsop8" data-toggle="modal" data-target="#cropModal" /></figure>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/8755f2a0b786ac45328e660b6844a7a0.jpg" width="579.8436482084691" height="233" data-image="9h9v7q3hmqq3" data-toggle="modal" data-target="#cropModal" />
<figcaption>Ссылки для связи с разными отделами и общие контакты на сайте chevron.com</figcaption>
</figure>
<h3 style="text-align: justify;">Физические адреса филиалов</h3>
<p style="text-align: justify;">Разместите адрес главного офиса компании и других отделений, интерактивную карту с отметками адресов с возможностью перехода к большой карте, чтобы построить маршрут. Если компания работает так, что клиентам не нужно приходить в офис, обычно все равно указывают какой-то адрес для почты.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/1e0b96c85926ba9fc89c48c1e9b3f8b1.jpg" alt="Адреса филиалов  на сайте" width="621.9793621013133" height="417" data-image="mhv99lejgg0l" data-toggle="modal" data-target="#cropModal" />
<figcaption>Контакты и карта филиала школы анлийского языка oxford-russia.ru</figcaption>
</figure>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/68c03386dc1ceb4281b63221bb26d962.jpg" alt="как оформить адреса филиалов на сайте" data-image="d1kdx1tpzxla" data-toggle="modal" data-target="#cropModal" />
<figcaption>Список магазинов с контактами и временем работы на сайте zoosfera-nn.ru</figcaption>
</figure>
<p style="text-align: justify;">Часто пользователи делают запросы так, чтобы найти специалиста в определенном районе города или улице &mdash; &laquo;пицца на Автозаводе&raquo;, &laquo;парикмахер площадь Горького&raquo;. Адрес компании и регистрация в сервисах Google и Яндекс повысит шансы, что клиенты найдут вас в локальном поиске. Если у компании нет физического адреса, укажите хотя бы город.</p>
<h3 style="text-align: justify;">Часы работы и время ожидания ответа</h3>
<p style="text-align: justify;">К телефонному номеру добавьте часы работы, чтобы клиенты знали, когда позвонить, чтобы в компании сняли трубку. Для клиентов, которые хотят обратиться в нерабочее время, можно включить возможность обратного звонка: тогда сотрудники перезвонят, когда придут на работу.</p>
<p style="text-align: justify;">Часовой пояс нужен, чтобы не было недоразумений, если вы будете перезванивать, к примеру, из Москвы во Владивосток.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/06ec1d85a49c23058621d51fe311afe5.jpg" alt="Оформление контактов на сайте" data-image="5tp5o5i95jqd" data-toggle="modal" data-target="#cropModal" />
<figcaption>Контакты с указаниями отделов и временем работы на сайте dogeat.ru</figcaption>
</figure>
<p style="text-align: justify;">Укажите примерное время обработки письма или тикета в поддержке. Пользователь хочет получить ответ как можно быстрее и может переживать, что его обращение потерялось, если по его ощущениям ожидание затянулось.</p>
<h3 style="text-align: justify;">Разные языки и возможности для связи</h3>
<p style="text-align: justify;">Если вы работаете с многоязычной аудиторией и у вас много клиентов-иностранцев, укажите это для номера телефона.</p>
<p style="text-align: justify;">Один из испытуемых в исследовании был впечатлен, что организация может принимать звонки на английском и испанском языках, он счел это дополнительной заботой об испаноговорящих клиентах.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/71f328eed968debd3ea885bb40b33a63.jpg" alt="Оформление телефона на сайте" data-image="12pfn0wjkwq4" data-toggle="modal" data-target="#cropModal" />
<figcaption>Во время исследования на сайте sba.gov была возможность получить консультацию по телефону на испанском языке</figcaption>
</figure>
<p style="text-align: justify;">Государственная организация должна заботиться, чтобы любая группа граждан могла получить консультацию. На этом сайте есть возможность поговорить по видеофону с переводчиком по американскому языку жестов (ASL).</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/e03ef6b3490ee8e8bdf5f58816bb8c02.jpg" alt="Контакты на сайте" width="612.207171314741" height="392" data-image="lwyslj88dmkm" data-toggle="modal" data-target="#cropModal" />
<figcaption>Номер для звонков по видеофону на сайте sba.gov</figcaption>
</figure>
<h3 style="text-align: justify;">Чат и контактная форма</h3>
<p style="text-align: justify;">Пользователям может быть проще написать менеджеру, не переходя в почтовые сервисы, для этого нужен чат с сотрудником, чат-бот или контактная форма. Но контактные формы должны дополнять, а не заменять остальные способы связи &mdash; иногда проще позвонить и описать ситуацию на словах, поэтому предоставьте выбор.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/59f7639dd2aac56ddc66ab05016073cc.jpg" alt="Форма для обратной связи на сайте" data-image="eptsazj9934f" data-toggle="modal" data-target="#cropModal" />
<figcaption>Несколько вариантов для связи на сайте melissaanddoug.com: телефоны филиалов, почта и форма для связи</figcaption>
</figure>
<p style="text-align: justify;">Пользователи обращаются в чат, если они не хотят ждать ответов по электронной почте, поэтому менеджеру нужно быть на связи в рабочее время и отвечать быстро. Протестируйте чат и выясните, насколько он удобен: он не должен всплывать в неподходящее время, отвлекать и мешать чтению контента.</p>
<p style="text-align: justify;">Испытуемые положительно отзывались о чате, когда в нем было четко указано, с кем общается клиент &mdash; с ботом или реальным человеком.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/68c328a97ce0954039160c3607eccfce.jpg" alt="Чат-бот на сайте" width="509.35344827586204" height="505" data-image="q3vgu9nw7v0v" data-toggle="modal" data-target="#cropModal" />
<figcaption>Чат с ботом на сайте skyeng.ru</figcaption>
</figure>
<p style="text-align: justify;">Советуем устанавливать формы, которые требуют минимальное количество действительно нужной информации: имя, по которому можно обращаться к клиенту и предпочтительный способ связи &mdash; почта или телефон.</p>
<p style="text-align: justify;">Некоторые пользователи скептически относятся к формам для вопросов на сайте, они опасаются, что на их e-mail или телефон посыпется спам. К примеру, участники эксперимента были раздражены, когда нашли на сайте компании &laquo;Slack&raquo; только этот способ связи:</p>
<p style="text-align: justify;"><em>&laquo;Мне не нравится, что я должен заполнять эту форму. Всё, что я хочу сделать &mdash; это просто поговорить с ними. Я ненавижу, когда после перехода по ссылке должен предоставить кучу информации. Я не решаюсь разместить свою электронную почту на сайте &mdash; это последнее, что я бы сделал&raquo;.</em></p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/690688d7996d150178c5c99a5ff8ac15.jpg" alt="Форма для вопросов на сайте" data-image="8f09xh908odl" data-toggle="modal" data-target="#cropModal" />
<figcaption>Единственный способ связи на сайте Slack.com</figcaption>
</figure>
<p style="text-align: justify;">Еще пользователей бесит, если на сайте нельзя задать вопрос без регистрации. Они не хотят тратить время на регистрацию учетной записи ради одного вопроса и скорее всего найдут компанию, с которой проще связаться.</p>
<p style="text-align: justify;">Одна из участниц исследования разозлилась, когда ей пришлось вводить электронную почту и регистрировать аккаунт только ради того, чтобы связаться с Adobe:</p>
<p style="text-align: justify;"><em>&laquo;Мне бы хотелось, чтобы, когда я нажала &laquo;Контакты&raquo;, я могла просто получить адрес электронной почты или номер телефона, а не входить в систему&raquo;.</em></p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/34d1436ed36aa9f3f1a72950b87424f1.jpg" data-image="m6xb4hbya1bc" data-toggle="modal" data-target="#cropModal" />
<figcaption>Регистрация для возможности задать вопрос на сайте adobe.com</figcaption>
</figure>
<h3 style="text-align: justify;">Ссылки на соцсети</h3>
<p style="text-align: justify;">Многие в исследовании упоминали, что используют аккаунты компании в социальных сетях, чтобы задавать вопросы или решать проблемы. Например, один пользователь высоко оценил интернет-провайдера, который сразу же ответил на его вопрос в Twitter. Клиент описал проблему с медленной скоростью соединения и упомянул аккаунт компании, а через несколько минут получил полезный ответ.</p>
<p style="text-align: justify;">Укажите ссылки на группы в социальных сетях, чтобы пользователи могли обратиться к админам со своего аккаунта. Это стоит сделать, если для общения с клиентами в соцсетях есть сотрудник, который в курсе рабочих процессов и может оперативно отвечать на запросы.</p>
<p style="text-align: justify;">Нужно оставить способ связи через телефон или почту для тех, кто не хочет общаться в соцсетях и мессенджерах, или у кого нет там аккаунтов. К примеру, на странице &laquo;UBreakIFix&raquo; есть несколько вариантов связи, в числе которых и соцсети.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/61fc2c6563f0ebaaad86ce9dc8fb7f7b.jpg" alt="Как оформить страницу контакты на сайте" data-image="hgk2iqd94hx6" data-toggle="modal" data-target="#cropModal" />
<figcaption>Возможности связаться с компанией на сайте UBreakIFix.com</figcaption>
</figure>
<p style="text-align: justify;">Разберем, где и каким образом указывать контакты, чтобы пользователи их легко нашли.</p>
<h2 id="location" style="text-align: justify;">Где разместить страницу Контакты на сайте</h2>
<h3 style="text-align: justify;"><strong>Поставьте ссылку в меню и футер</strong></h3>
<p style="text-align: justify;">Исследования в области юзабилити компании &laquo;Nielsen Norman Group&raquo; показывают, что если вы попросите пользователей найти страницу &laquo;Контакты&raquo; на сайте, они будут смотреть в верхнем правом углу страницы или внизу в футере.</p>
<blockquote>Почитать по теме:<br /><a href="https://pr-cy.ru/news/p/7378-kak-sdelat-futer-na-sayte-poleznym-dlya-seo-i-yuzabiliti" data-tip="">Как сделать футер на сайте</a>&nbsp;полезным для SEO и юзабилити</blockquote>
<h3 style="text-align: justify;"><strong>Не прячьте контакты в подразделах</strong></h3>
<p style="text-align: justify;">Исследователи не рекомендуют делать страницу с контактами подтемой какого-то раздела. К примеру, один пользователь потратил много времени на поиски контактной информации, а она оказалась скрыта в раскрывающемся меню под ссылкой &laquo;О нас&raquo; . Пользователь нашел ссылку, но отметил:</p>
<p style="text-align: justify;"><em>&laquo;Мне бы хотелось, чтобы &laquo;Связаться с нами&raquo; было в основном меню, а не в разделе &laquo;О нас&raquo;. Когда я пролистал сайт до футера, я увидел ссылку&raquo;.</em></p>
<p style="text-align: justify;">Если контакты органично дополняют страницу &laquo;О нас&raquo;, то можно их добавить, но чаще в этом разделе пользователи ожидают увидеть рассказ о компании, так что главные контакты лучше продублировать в шапке и подвале сайта.</p>
<h3 style="text-align: justify;"><strong>Дублируйте главный способ связи в шапке</strong></h3>
<p style="text-align: justify;">Пользователю должно быть просто выполнить конверсионное действие на сайте. Если для оформления заказа нужно позвонить, телефон должен быть не только на странице контактов, но и там, где его можно найти без дополнительных кликов &mdash; в шапке сайта.</p>
<figure class="image-center" style="text-align: justify;"><img src="https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/748632a94ff96ee4aabbb1ed10895689.jpg" alt="Куда поставить номер телефона на сайте" data-image="jutxxatj8i3c" data-toggle="modal" data-target="#cropModal" />
<figcaption>Номер телефона продублирован в шапке сайта sfm-nn.ru</figcaption>
</figure>
<h3 style="text-align: justify;"><strong>Не придумывайте оригинальное название</strong></h3>
<p style="text-align: justify;">Многие компании стараются назвать страницу с контактами как-то по-особенному &mdash; &laquo;Справочный центр&raquo;, &laquo;Ресурсы&raquo; или как-то еще. Пользователи привыкли к тому, что страница называется &laquo;Контакты&raquo; или &laquo;Связаться с нами&raquo;, поэтому искали ссылку с похожим анкором. Оригинальные названия могут быть не очевидными для пользователей.</p>
<p style="text-align: justify;">&nbsp;</p>
<hr />
<p style="text-align: justify;">На странице &laquo;Контакты&raquo; пользователи ожидают увидеть адреса компаний, номера телефонов и адреса электронной почты. Кроме того, исследователи нашли корреляцию между попаданием в топ и наличием разных способов связи, так что вероятно контакты влияют на пропуск в топ.</p>
<p style="text-align: justify;">Указывайте те контакты, которые можете обслуживать, и не заменяйте их автоматизированными формами или чатом.</p>
<p style="text-align: justify;"><em>На основе статьи &laquo;</em><a href="https://www.nngroup.com/articles/contact-us-pages/" data-tip=""><em>&ldquo;Contact Us&rdquo; Page Guidelines</em></a><em>&raquo;</em></p>
</div>
{% endblock content %}








